/* Self-hosted fonts */

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Beatrice';
  src: url('/fonts/Boska-Bold.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Clearface MT Std';
  src: url('/fonts/Clearface-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
