---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import Home from '../components/Home.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Testimonials from '../components/Testimonials.astro'
import Recognitions from '../components/Recognitions.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
---

<Layout>
  <Navigation />
  <main>
    <Home />
    <Experience />
    <Projects />
    <Testimonials />
    <Recognitions />
    <Skills />
    <Contact />
  </main>
</Layout>
