---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import Home from '../components/Home.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
---

<Layout>
  <Navigation />
  <main>
    <Home />
    <Skills />
    <Contact />
  </main>
</Layout>
