---
import { testimonials } from '../lib/data'
import TestimonialsCarousel from './TestimonialsCarousel.tsx'
---

<section class="relative py-20 overflow-hidden w-full">
  <div class="reveal">
    <TestimonialsCarousel client:visible testimonials={testimonials} />
  </div>
</section>
